.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .formContainer {
    position: relative;

    .closeButton {
      position: absolute;
      right: 0;
      top: 0;

      @media print {
        display: none;
      }
    }
  }
}
