.container {
  background-color: #eee;
  padding-bottom: 4rem;

  .a4 {
    width: 210mm;
    min-height: 297mm;
    margin-left: auto;
    margin-right: auto;
    padding: 5mm;
    background-color: #fff;
  }

  @media print {
    > *:not(.a4) {
      display: none;
    }

    .a4 {
      padding: 0;
      min-height: unset;
    }
  }
}
