.layout {
  background-color: #eee;

  .container {
    padding: 4rem;
    overflow-x: auto;
  }

  @media print {
    > *:not(.container) {
      display: none;
    }

    .container {
      padding: 0;
      width: fit-content;
    }
  }
}

.a4 {
  width: 210mm;
  min-height: 297mm;
  margin-left: auto;
  margin-right: auto;
  padding: 5mm;
  background-color: #fff;

  @media print {
    padding: 0;
    min-height: unset;
  }
}
